.section{
    position: relative;
}
.bg-wrap{
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    left: 0px;
    top: 0px;
}
.bg-wrap .bg-img{
    width: 100%;
    height: 100%;
}
.nav{
    position: absolute;
    width: 100%;
    height: 46px;
    background: #A22C2C;
    top: 0px;
}
.main-info .pic-text{
    max-width: 100%;
    margin-top: 2%;
}
#menu {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 25px;
    top: 30%;
    list-style-type: none;
    z-index: 70;
}
#menu li {
    margin-top: 30px;
    font-size: 14px;
}
#menu a {

    font-size: 90%;
    letter-spacing: 2px;
    font-family:"Microsoft YaHei", sans-serif;
    margin-top: 18px;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

#menu .active a {
    color: #fff;
    background-color: #333;
}

.section {
    text-align: center;
    font: 50px "Microsoft Yahei";
    color: #fff;
}

.main-info{
    position: absolute;
    width: 70%;
    height: 70%;
    background: none;
}


#language{
    list-style: none;
    font-size:19px;
    width: 18%;
    height: 46px;
    margin: 0 auto;
    padding-left: 0px;
}
#language li{
    float: left;
    margin:0 1px;
    width: 49%;
    padding: 0px 10px;
}
#language li a{
    color: #ffffff;
    display: block;
    height: 46px;
    line-height: 46px;
    text-decoration: none;
}
#language .active{
    background-color: rgba(0, 0, 0, 0.3);
}
.claim{
    padding-top: 10px;
    margin-bottom: 15px;
    list-style: none;
    font-size: 16px;
}
.claim li{
    margin-top: 4px;
    letter-spacing: 2px;
}
.claim h3{
    color:rgba(98, 98, 98, 1)
}
.claim ul p{
    font-style: normal
}
.zanzhu{
    height: 100px;
    margin-top: 70px;
}
.zanzhu img{
    height: 100%;
    box-shadow: #080808;
    width: 22%;
    border-radius: 3px;
}
#copyright{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 17px;
}
#copyright a{
    color: #ffffff;
    text-decoration: underline;
}